$body-font: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$mono-font: 'SF Mono', 'Fira Code', 'Consolas', monospace;
$title-font: "Avenir Next", $body-font;
